# ========== Python ========== #
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
.venv/
.env*
dist/
build/
*.spec
.ipynb_checkpoints/

# ========== General ========== #
*.log
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*.bak
*.tmp
*.old
node_modules/
